body {
  background-color: #571C20;
}

section {
	width: 60%;
	margin-left:20%;
	margin-top: 6%;
}

.clock-column {
	display: inline-block;
  width: 16%;
}

.dot:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.dot {
  position: relative;
	max-width: 100%;
	margin: 0.5rem;
	background-color: #F7EED6;
	border-color: #F7EED6;
	background-size: 100% auto;
	border-radius: 50%;
	border-style: solid;
}

.dot.off {
	background-color: transparent;
}
